.heading-1
    font-primary()
    font-size $size-regular

.heading-2
    font-primary()
    font-size $size-regular

.heading-3
    font-primary()
    font-size $size-regular

.teasing-1
    font-primary()
    font-size $size-regular

.teasing-2
    font-primary()
    font-size $size-regular

.text
    font-primary()
    font-size $size-regular

.bold
    bold()

.btn
    font-primary()
    font-size $size-regular
