.heading-1
    font-primary()
    font-size $size-regular

.heading-2
    font-primary()
    bold()
    // font-size $size-regular
    font-size 5vw
    line-height 1.2

    +desktop()
        font-size 5.5rem

    +wide()
        font-size 7rem

.heading-3
    font-primary()
    font-size $size-regular

.heading-5
    font-primary()
    upper()
    black()
    font-size $size-smaller

    +desktop()
        font-size $size-regular

.teasing-1
    font-primary()
    font-size $size-regular

.teasing-2
    font-primary()
    font-size $size-regular

.text
    font-primary()
    font-size $size-regular

.bold
    bold()

.btn
    font-primary()
    font-size $size-regular
