.carousel
    &__clone
        position fixed
        z-index -1

        &:before
            content ''
            position fixed
            z-index -1
            top 0
            left 0
            bottom 0
            right 0
            background rgba(255,255,255,0)
            transition background 500ms linear

    &.is-zoomed
        .carousel__clone
            z-index 5
            transition all 250ms ease

            &:before
                background rgba(255,255,255,1)

        .carousel__btn
            display block

            &:hover
                cursor pointer
    &__btn
        background transparent
        border none
        color $c-font
        display none

        &--close
            position fixed
            z-index 1000
            top 5rem
            right 5rem
            font-size 2.5rem
