.menu
    &__toggler
        position absolute
        right 0.2rem
        bottom 2.4rem
        height 2rem
        width 3rem
        background transparent
        border none
        transform none
        transition transform 200ms ease

        .burger
            #top
                transform-origin 0px 3px !important
            #center
                transform-origin 10px 3px !important
            #bottom
                transform-origin 0px 21px !important
            #top, #center, #bottom
                transform none
                transition transform 200ms ease

        &:hover
            cursor pointer

        +tablet()
            right 2.5rem
            bottom 1.3rem

    &__item
        opacity 0
        display block
        margin 0.5rem 2rem
        transform translateX(-2rem)

        +tablet()
            display inline-block

            &:not(.social)
                &:hover:before
                    height 1rem
                    transition height 250ms ease-in
                &:before
                    content ''
                    position absolute
                    z-index -1
                    bottom 0
                    left 0
                    right 0
                    height 0
                    background $c-primary
                    transition height 250ms ease-in
