.presentation
    position fixed
    top 0
    padding 2rem 3rem 2rem 0rem
    max-width 130rem
    transition opacity 100ms linear

    +tablet()
        padding-top 3rem
        padding-bottom 3rem
