.presentation
    position fixed
    z-index 1000
    top 0
    padding 2rem 3rem 2rem 0rem
    max-width 130rem
    transition opacity 100ms linear

    +tablet()
        padding-top 3rem
        padding-bottom 3rem

    +desktop()
        padding-bottom 5rem

    &.is-hidden
        z-index -1
