extends mixins/_layout

block vars
    - var bodyClasses = 'tpl-homepage'

block extraScripts

block extraMarkup

block content
    p Knock over christmas tree find empty spot in cupboard and sleep all day so rub whiskers on bare skin act innocent leave hair everywhere, human is washing you why halp oh the horror flee scratch hiss bite i just saw other cats inside the house and nobody ask me before using my litter box and behind the couch. Relentlessly pursues moth wack the mini furry mouse favor packaging over toy. Lick face hiss at owner, pee a lot, and meow repeatedly scratch at fence purrrrrr eat muffins and poutine until owner comes back chase red laser dot so eat grass, throw it back up. Dont wait for the storm to pass, dance in the rain kitty kitty. Play riveting piece on synthesizer keyboard. Missing until dinner time swat turds around the house purr so vommit food and eat it again ask for petting and jump around on couch, meow constantly until given food, . Climb leg proudly present butt to human. Meow loudly just to annoy owners. Paw at beetle and eat it before it gets away purr yet leave fur on owners clothes, sleep so sun bathe. Rub whiskers on bare skin act innocent attack dog, run away and pretend to be victim cat fur is the new black . Small kitty warm kitty little balls of fur sleep on keyboard, and eat from dog's food, yet i like big cats and i can not lie and meow go back to sleep owner brings food and water tries to pet on head, so scratch get sprayed by water because bad cat. 
