extends mixins/_layout

block vars
    - var bodyClasses = 'tpl-homepage'

block extraScripts

block extraMarkup

block content
    div.presentation
        h2.heading-2 Tous les 3 mois, 3 couleurs imposées, 1 format, 1 thème et des illustratrices et illustrateurs pour relever le défi.
