extends mixins/_layout

block vars
    - var bodyClasses = 'tpl-homepage'

block extraScripts

block extraMarkup

block content
    div.presentation.js-presentation
        h2.heading-2 Tous les 3 mois, 3 couleurs imposées, 1 format, 1 thème et des illustratrices et illustrateurs pour relever le défi.
    div.post.js-homepage-post
        div.post__header
            p.post__metas.heading-4 #[span.hightlight Thème en cours ]— Du 05 au 30 novembre
            h3.post__title.heading-1 L'inquiétante étrangeté
            div.post__description
                p.text Sous titre possible par exemple l'auteur d'une citation comme pour les yeux d'elsa
                p.text #[span.u-t-uppercase Format :] 20 cm x 25 cm
            div.post__colors
                div.post__colors__item.color-1(style="background: #feee00")
                div.post__colors__item.color-2(style="background: #e30180")
                div.post__colors__item.color-3(style="background: #0771b8")
        div.post__body
            div.gallery.js-parallax.js-gallery
                div.gallery__item.js-gallery-item.js-parallax-item.is-active(data-ratio="0.09")
                    img(src="https://picsum.photos/1600/1970/?image=15")
                div.gallery__item.js-gallery-item.js-parallax-item(data-ratio="0.15")
                    img(src="https://picsum.photos/1600/1970/?image=11")
                div.gallery__item.js-gallery-item.js-parallax-item(data-ratio="0.12")
                    img(src="https://picsum.photos/1600/1970/?image=10")
                div.gallery__item.js-gallery-item.js-parallax-item(data-ratio="0.09")
                    img(src="https://picsum.photos/1600/1970/?image=12")
                div.gallery__item.js-gallery-item.js-parallax-item(data-ratio="0.15")
                    img(src="https://picsum.photos/1600/1970/?image=14")
                div.gallery__item.js-gallery-item.js-parallax-item(data-ratio="0.12")
                    img(src="https://picsum.photos/1600/1970/?image=14")
                div.gallery__item.js-gallery-item.js-parallax-item(data-ratio="0.09")
                    img(src="https://picsum.photos/1600/1970/?image=16")
                div.gallery__item.js-gallery-item.js-parallax-item(data-ratio="0.15")
                    img(src="https://picsum.photos/1600/1970/?image=17")
    div.pagination
        a.pagination__item.pagination__next(href="#")
            p.link--big Thème suivant
            i.icon-arrow-left
        a.pagination__item.pagination__previous.u-t-right(href="#")
            p.link--big.u-t-right Thème précédent
            i.icon-arrow-right
