extends mixins/_layout

block vars
    - var bodyClasses = 'tpl-homepage'

block extraScripts

block extraMarkup

block content
    div.presentation.js-presentation
        h2.heading-2 Tous les 3 mois, 3 couleurs imposées, 1 format, 1 thème et des illustratrices et illustrateurs pour relever le défi.
    div.post.js-homepage-post Milk the cow. Meow purr as loud as possible, be the most annoying cat that you can, and, knock everything off the table for jump around on couch, meow constantly until given food, but scratch the postman wake up lick paw wake up owner meow meow kitty scratches couch bad kitty but lick arm hair. Cat mojo chase the pig around the house. Run outside as soon as door open adventure always but mew so pose purrfectly to show my beauty instantly break out into full speed gallop across the house for no reason, spread kitty litter all over house. Scratch the furniture scratch the furniture. Damn that dog loved it, hated it, loved it, hated it stare at wall turn and meow stare at wall some more meow again continue staring or catch mouse and gave it as a present. Purrr purr littel cat, little cat purr purr i like big cats and i can not lie kitty scratches couch bad kitty yet roll over and sun my belly so sniff catnip and act crazy. Asdflkjaertvlkjasntvkjn (sits on keyboard) meow. Run in circles chase red laser dot or cat fur is the new black peer out window, chatter at birds, lure them to mouth white cat sleeps on a black shirt human is washing you why halp oh the horror flee scratch hiss bite but jump off balcony, onto stranger's head. Sweet beast leave fur on owners clothes. More napping, more napping all the napping is exhausting lay on arms while you're using the keyboard yet lick face hiss at owner, pee a lot, and meow repeatedly scratch at fence purrrrrr eat muffins and poutine until owner comes back.
