.social
    &__item
        position relative
        z-index 80
        display inline-block
        font-size 2.5rem
        margin-top 0.5rem
        margin-right 1.2rem

        +tablet()
            font-size 2.8rem


        &:before
            content ''
            position absolute
            z-index -1
            top 0.5rem
            left 0.5rem
            height 80%
            width 100%
            background $c-primary
            transition all 250ms cubic-bezier(0.3, 1.22, 1, 1)

        &:hover
            &:before
                top 0.7rem
                left 0.7rem
                transition all 250ms cubic-bezier(0.3, 1.22, 1, 1)

    &-yellow:before
        background $c-yellow

    &-pink:before
        background $c-pink

    &-blue:before
        background $c-blue
