footer.footer
    div.footer__inner.u-t-center #[a(href="#") Mentions Légales] | Retrouvez le color crew sur :
        div.social
            a.social__item(href="#")
                i.icon-instagram
            a.social__item(href="#")
                i.icon-facebook
            a.social__item(href="#")
                i.icon-tumblr
