//add is-scrolling class to mobile when we scroll and delete it when we reach the top
//Add is-open class to open the menu
header.header.js-header
    div.header__background
    div.logo
        h1.site-title Le color Crew
        include ../svg/_logo

        button.menu__toggler.js-menu-toggler
            include ../svg/_burger
    nav.menu
        a.menu__item.heading-5(href="#" style="transition-delay: 100ms") Accueil
        a.menu__item.heading-5(href="#" style="transition-delay: 200ms") Le color what ?!
        a.menu__item.heading-5(href="#" style="transition-delay: 300ms") Tous les thèmes
        div.menu__item.social(style="transition-delay: 400ms")
            a.social__item.social-yellow(href="#")
                i.icon-instagram
            a.social__item.social-pink(href="#")
                i.icon-facebook
            a.social__item.social-blue(href="#")
                i.icon-tumblr
