.footer
    bold()
    clear both
    display block
    min-height 5rem
    padding 2rem
    background $c-primary

    &__inner
        width auto
        margin auto
    .social
        display inline-block
        vertical-align middle
